@use 'variables';

* {
  font-family: 'Jersey';
}

body {
  margin: 0;
}

h2 {
  color: variables.$light;
  font-size: 2rem;
  line-height: 2rem;
  margin: 0 0 1rem;
}

button {
  color: variables.$dark;
  background-color: variables.$light;
  border: none;
  padding: 0.6rem 1rem 0.5rem;
  border-radius: 1rem;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  font-size: 1.5rem;

  &[disabled] {
    background-color: variables.$gray;
    pointer-events: none;
  }
}

input {
  &[type='text'],
  &[type='number'] {
    background-color: variables.$light;
    border-radius: 0.5rem;
    border: none;
    padding: 0.6rem 1rem 0.5rem;
    font-size: 1rem;
  }

  &[type='radio'] {
    margin: 0;
    position: relative;
    top: 2px;

    + label {
      margin-left: 1rem;
    }
  }

  &[type='checkbox'] {
    margin: 0;
    position: relative;
    top: 2px;

    + label {
      margin-left: 0.5rem;
    }
  }
}

label {
  margin-right: 1rem;
}

.input-wrapper {
  margin-bottom: 1rem;
}

hr {
  margin: 1rem 0;
  border-top: 2px solid variables.$light;
}
